{% extends '@common/Frame/Normal.twig' %}

{% block page_title %}{{ meta.title }} | Home{% endblock %}
{% block og_title %}{{ meta.title }} | Home{% endblock %}

{% block content %}

    <div id="map"></div>

{% endblock %}
